data
.idea
.vscode

*.egg-info
*build
*build_local
*/__pycache__
*outputs
*.hydra
*.pyc
*.mat
*.ckpt
*.so
*.pth

overview/papers

# datasets structure
datasets/macros.env
datasets/habitat_task
datasets/R2R
datasets/R2R_VLNCE_v1-3
datasets/REVERIE
datasets/RXR
datasets/SOON
datasets/scenes/mp3d
datasets/demo_data

# checkpoints structure
checkpoints/bert-base-uncased
checkpoints/GridMM
checkpoints/PixelNavigation