apex
git@github.com:facebookresearch/detectron2.git
einops
fairscale
fvcore
imageio
matplotlib
MultiScaleDeformableAttention
numpy
numpy_quaternion
omegaconf
open3d==0.18.0
openai
opencv_python==4.4.0.46
opencv_python_headless
pathfinding
Pillow
Requests
salesforce_lavis
scipy
setuptools
timm
torch
torchvision
tqdm
transformers==4.26.1
xformers
